<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Waiter Availability App </title>

</head>

<body>
    <div class="row">
        <div class="col-12">
            <div class="head-title">
                <h1>Waiter Availability </h1>
                <h2>Hello Admin</h2>
                <hr>
            </div>
        </div>
    </div>

    <form action="/updateWaiter" method="get">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="center">

                        <div class="daysDiv">
                            <h6>Monday</h6>
                            {{#each mon}}
                            <li><a href="">{{this}}</a></li>
                            {{/each}}

                            {{monCtr}}
                        </div>
                        <div class="daysDiv">
                            <h6>Tuesday</h6>
                            {{#each tue}}
                            <li><a href="">{{this}}</a></li>
                            {{/each}}

                            {{tueCtr}}
                        </div>
                        <div class="daysDiv">
                            <h6>Wednesday</h6>
                            {{#each wed}}
                            <li><a href="">{{this}}</a></li>
                            {{/each}}


                            {{wedCtr}}
                        </div>
                        <div class="daysDiv">
                            <h6>Thursday</h6>
                            {{#each thurs}}
                            <li><a href="">{{this}}</a></li>
                            {{/each}}

                            {{thurCtr}}
                        </div>
                        <div class="daysDiv">
                            <h6>Friday</h6>
                            {{#each fri}}
                            <li><a href="">{{this}}</a></li>
                            {{/each}}
                            {{friCtr}}
                        </div>
                        <div class="daysDiv">
                            <h6>Saturday</h6>

                            {{#each sat}}
                            <li><a href="/updateWaiters">{{this}}</a></li>
                            {{/each}}

                            {{satCtr}}
                        </div>
                        <div class="daysDiv">
                            <h6>Sunday</h6>
                            {{#each sun}}
                            <li><a href="">{{this}}</a></li>
                            {{/each}}


                            {{sunCtr}}
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">

                <table class="table table-sm table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Monday</th>
                            <th scope="col">Tuesday</th>
                            <th scope="col">Wednesday</th>
                            <th scope="col">Thursday</th>
                            <th scope="col">Friday</th>
                            <th scope="col">Saturday</th>
                            <th scope="col">Sunday</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            {{#each mon}}
                            <td>{{this}}</td>
                            {{/each}}

                            {{#each tues}}
                            <td>{{this}}</td>
                            {{/each}}

                            {{#each wed}}
                            <td>{{this}}</td>
                            {{/each}}

                            {{#each thurs}}
                            <td>{{this}}</td>
                            {{/each}}

                            {{#each fri}}
                            <td>{{this}}</td>
                            {{/each}}

                            {{#each sat}}
                            <td>{{this}}</td>
                            {{/each}}


                            {{#each sun}}
                            <td>{{this}}</td>
                            {{/each}}

                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-4"></div>
            <div class="col-4">
                <form action="/clear" method="get">
                    <input type="submit" formaction="/clear" class="btn btn-primary" value="clear All days">
                </form>
            </div>
            <div class="col-4"></div>


        </div>
    </div>



</body>

</html>