<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Waiter Availability App </title>

</head>

<body>
    <div class="row">
        <div class="col-12">
            <div class="head-title">
                <h1>Waiter Availability Program</h1>
                <h3> Hello, {{waiterName}}</h3>
                <hr>
            </div>
        </div>
    </div>
    {{!-- <div class="container">
        <div class="row">
            <div class="col">
                <div class="center">
                    <div class="daysDiv">
                        <h6>Monday</h6>
                        {{mon}}
                        {{monCtr}}
                    </div>
                    <div class="daysDiv">
                        <h6>Tuesday</h6>
                        {{tue}}
                        {{tueCtr}}
                    </div>
                    <div class="daysDiv">
                        <h6>Wednesday</h6>
                        {{wed}}
                        {{wedCtr}}
                    </div>
                    <div class="daysDiv">
                        <h6>Thursday</h6>
                        {{thur}}
                        {{thurCtr}}
                    </div>
                    <div class="daysDiv">
                        <h6>Friday</h6>
                        <li>{{fri}}</li>
                        {{friCtr}}
                    </div>
                    <div class="daysDiv">
                        <h6>Saturday</h6>
                        <li>{{sat}}</li>
                        {{satCtr}}
                    </div>
                    <div class="daysDiv">
                        <h6>Sunday</h6>

                        <li>{{sun}}</li>
                        {{sunCtr}}
                    </div>
                </div>
            </div>

        </div>
    </div> --}}

    <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>

    </div>
    <form action="/waiter" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2-sm"></div>
            <div class="col-8-sm">

                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="days" type="checkbox" id="inlineCheckbox1" value="monday">
                    <label class="form-check-label" for="inlineCheckbox1">Monday</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="days"value="tuesday">
                    <label class="form-check-label" for="inlineCheckbox1">Tuesday</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="days" value="wednesday">
                    <label class="form-check-label" for="inlineCheckbox1">Wednesday</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="days" id="inlineCheckbox1" value="thusrday">
                    <label class="form-check-label" for="inlineCheckbox1">Thursday</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="days" id="inlineCheckbox1" value="friday">
                    <label class="form-check-label" for="inlineCheckbox1">Friday</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="days"id="inlineCheckbox1" value="saturday">
                    <label class="form-check-label" for="inlineCheckbox1">Saturday</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="days" id="inlineCheckbox1" value="sunday">
                    <label class="form-check-label" for="inlineCheckbox1">Sunday</label>
                </div>

            </div>
            <div class="col-2-sm"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>

        </div>
    </div>

</form>

<form action="/waiter/:?" method="get">
    <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="basic-addon1">Enter Your Name</span>
                        <input class="form-control" type="text" name="inputName" id="">
                        <span><input  class="btn btn-primary" type="submit" value="Submit"></span>
                    </div>

                </div>

                <div class="col-3"></div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
            <div class="col-4-sm"></div>
            <div class="col-3-sm">
                <input type="submit" value="Confirm Working Days" class="btn btn-primary">
            </div>

            <div class="col-5-sm"></div>
        </div>
    </div>
</form>
</body>

</html>